body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-community{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 6px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section {
    margin-top: 20px;
}
.question-tag{
    margin: 4px 5px;
    white-space: normal;
    display: inline-block;
    font-size: 85%;
}
.question-related{
    line-height: 20px;
    font-size:14px;
    margin-left: 0;
    list-style: none;
    padding-left:0;
}
.publish-tag-tab{
    display:none;
    margin-top: 10px;
    padding-top: 10px;
}

.question-wechat{
    width: 70%;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.comment {
    margin: 10px 0 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 2px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;
    padding-top: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.menu{
    color: #999;
    margin-top: 8px;
}
.menu .icon{
    margin-right: 8px;
    font-size: 16px;
    cursor: pointer;
}
.menu .icon2{
    font-size: 16px;
    cursor: pointer;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}
.edit-hr{
    margin-bottom: 10px;
}
.question_title{
    margin-top: 25px;
}
.footer{
    padding: 10px 35%;
    color: #666;
}
.footer_margin{
    margin-bottom: 20px;
    text-align: center;
}