body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-community{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 6px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section {
    margin-top: 20px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.comment {
    margin: 10px 0 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 2px;
}
.menu{
    color: #999;
    margin-top: 8px;
}
.menu .icon{
    margin-right: 8px;
    font-size: 16px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}
.edit-hr{
    margin-bottom: 10px;
}
.question_title{
    margin-top: 25px;
}